# PyCharm is lovely, but their prefs dir is nasty.
.idea

# Do not upload usernames or passwords!
.env

# Do not upload any real world data.
data

# Data I use for testing locally
TESTING
OneShotMail.bat
TestMailServer.bat

# Exclude build content
build
dist

# pytest
.pytest_cache
