# PyCharm is lovely, but their prefs dir is nasty.
.idea

# Do not upload usernames or passwords!
.env

# Do not upload any real world data.
contacts.csv
email-preparation/from.txt
subject.txt
message.txt
from.txt

# Exclude build content
build
dist

# pytest
.pytest_cache

# Data I use for testing locally
TESTING